
h1 {
	font-size: 3em;
}

header {
	background-color: #6d84b4;
	color: white;
	position: absolute;
	top:0;
	right: 0;
	margin: 0;
	left: 0;
	height: 4em;

}




.content {
	border: 1px solid black;
	width: 100%;
	background: gray;
}

.message-animate.ng-enter {
	-webkit-transition: 2s linear all; /* Chrome */
	transition: 2s linear all;
	opacity: 0;
}
 
.message-animate.ng-enter.ng-enter-active {
	opacity: 1;
}

footer {
	position: fixed;
	bottom:0;
	right: 0;
	left: 0;
	height: 4em;
	background: #efefef;

}

.text {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20;
	margin-bottom: 13%;
	width: 70%;
	text-align: center;
	vertical-align: bottom;

}

section {
	left:0;
	right: 0;
	position: absolute;
	bottom: 4em;
	margin: 0;
	top: 4em;
	width: 100%;
	background: white;
	overflow-y: scroll;

}

.chat {
	height: 100%;
	width: 100%;
	position: relative;
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.contextbar {
	list-style-type: none;
	padding: 0;
	position:  absolute;
	z-index: 10;
	left: 0;
	right: 0;
	padding-left: 0;
	padding-right: 0;

}


.contextbar li {
	background-color: #6d84b4;
	padding: .2em 1em;
	border-bottom: 1px solid #3e587b;	
	border-right: 1px solid #3e587b;	
	position: relative;
	display: block;
	margin-right: 1em;
}


.svg {
	background-image: url('../images/person.svg');
	background-size: contain;

	background-repeat: no-repeat;
	display: inline-block;
	z-index: 10;
	width: 2em;
	min-height: 2em;

}


.contextbar li .remove {
	right:0;
	padding-right: .5em;
	position: absolute;
}

.contextbar li a {
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	padding-left: .5em;
	margin: 0;
}

.contextbar li:hover, .contextBar li.ng-click-active {
	background-color: darkBlue;
}

.contextbar li a:hover {
	text-decoration: none;
}

.contextbar li.selected {
   	cursor: default;
}

input[type="text"] {
	height: 3em;
	box-sizing: border-box;
	border-radius: .3125em;
	text-align: left;
	font-size: 1em;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	border: 1px solid #ccc;
	color: #4D4D4D;
	outline: 0;
	text-shadow: 0 1px 0 #f3f3f3;
}

input {
	padding: .4em;
}
input[type="text"]:focus {
	background: #f5f5f5;
	box-shadow: 0 1em 1em #38c;

}

.items {
	position: relative;
	z-index: 10;
	display: block;
}




.message {
	box-shadow: 10px 10px 5px #888888;

	margin-bottom: 3%;
	padding-left: 1.2em;
	padding-top: .3em;
	padding-right: 1em;
	background: lightBlue;
	
	margin-bottom: 1em;
	width: 40%;
	word-wrap: break-word;
}

.message .text {
	margin-left: 0;
	margin-right: auto;
	text-align: left;
	margin-bottom: 1em;
}

.message.own {
	margin-left: auto;
	margin-right: 0;
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}

.message.friend {
	margin-right: 60%;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
}

.message .nick, .message .time {
	font-size: 70%;
}

.message .nick, .message .time {
	text-align: right;
}


.henkilo {

	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	//height: 100%;
	//width: 30%;
	//background-repeat: no-repeat;
	//background-size: contain;
}

