footer.actionbar
	.media
		img.fileimg(src="images/open-file.png", title="open file")
		//input(type="file",name="file", ng-file-select="fileChange($files)",accept="image/*",capture)
	span.box
		input.text(type="text", ng-model="message", ng-enter, ng-focus="showEnter=true")
	a.enter(ng-click="say();", ng-show="showEnter")
		img.tickimg(src="images/tick.png", title="confirm")
