header(ng-controller="navigationController")
  ul.contextbar
    li(ng-repeat="ctx in contexts", ng-show="show(ctx);", ng-class="{selected: isActive(ctx)}", ng-click="toggle(ctx);")
      .svg
      a(ng-bind="ctx.context",href="javascript:void(0);")
      a.remove(href="javascript:void(0);", ng-click="remove(context.context);" ) &#10008;
    li(ng-show="showAddNew();")
      input.add(type="text", placeholder="Lisää uusi kanava", ng-blur="addContext();", ng-model="newcontext") 
      a.ok(href="javascript:void(0);", ng-click="addContext();") &#x02713;
