doctype html
html(lang="en", ng-app="tchat-app")
	head
		title tChat
		link(rel='stylesheet', href='css/styles.css')
		script(src="components/angular/angular.js")
		script(src="components/angular-animate/angular-animate.js")
		script(src="components/angular-ui-router/release/angular-ui-router.js")

		script(src="js/tchat.js")
		script(src="js/tchatService.js")
		script(src="js/auth.js")

		script(src="js/autoScrollDirective.js")

		script(src="js/enterDirective.js")

		script(src="js/tchatController.js")
		script(src="js/loginController.js")

	body(ng-controller="tchat-controller")
	div(ui-view)
		