section(auto-scroll, id="discussion")
  div.message(ng-repeat="viesti in viestit track by $index",  class="message-animate")
    div(ng-bind="viesti.message", ng-class="{own: viesti.own, friend: !viesti.own}") 
    span(ng-bind="viesti.nick")