.login
  ng-form(name="registerform", novalidate)
    .user
      input(ng-required="true",id="nick", type="text", ng-model="nick", placeholder="Syötä nimimerkki" )
    .mail
      input(type="email", id="email", ng-model="email", ng-required="true", placeholder="Syötä sähköposti")
    .register
      button(ng-click="login();") Rekisteröidy  

